Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 Modes
        - Dev
            DevServer, SourceMaps, Eslint, Not Minified JS & CSS
        - Prod
            Minifier JS & CSS
Git


git push -u origin master

vdmemory
123Qwerty_123