@import "variables";
@import "mixins";

.dashboard {
    &_header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: $board_header_height;
        @include fl_center();
        background: white;
        box-shadow: $board_header_shadow;
        z-index: 999;
    }
    &_new {
        margin-top: $board_header_height;
        padding: 1.5rem;
        background: $bg_board_new_color;
    }
    &_create {
        height: $board_new_create_height;
        width: $board_new_create_height;
        background: white;
        border-radius: 4px;
        @include border($bg_board_new_color);
        @include fl_center();
        font-size: 4.5rem;
        text-decoration: none;
        color: $base_color2;
        &:hover {
            @include border($border_hover_color2);
        }
    }
    &_table {
        padding: 1rem;
    }
    &_list-header {
        display: flex;
        justify-content: space-between;
        color: $board_table_color;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0 12px;
    }
    &_list-content {
        @include clear_list();
    }
    &_record {
        display: flex;
        &:hover {
            background: $board_table_hover_color;
            border-radius: 25px;
        }
        & a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            color: $board_table_color;
            font-size: 14px;
            height: 100%;
            width: 100%;
            padding: 12px 14px 12px 16px;
        }
    }
}